<html>
<body>
<h4>Dear Parent,</h4>
We have received payment of ${amount} towards fee for your child ${studentName}.
Please note transaction number ${transactionNr} for further reference.
</body>
</html>