Dear Parent,
Thank you for choosing ${organizationName}. Your ward's ${studentName} application has been accepted. Please note Registration No: ${registrationNumber} for further communications.
Received payment of Rs.${reservationAmount} towards Reservation fee.
